#log
  %table.table.table-striped.table-bordered
    - @import_job.organizations.includes(:locations).each_with_index do |org, index|
      %tr
        %td= index
        %td
          %span.label{ class: "label-#{org.aasm_state.dasherize}" }= t org.aasm_state
        %td
          %ul.list-unstyled
            %li
              %p
                %b= Organization.model_name.human
                = link_to org.name, [ :sfadmin, org ]
            %ul
              - org.locations.each do |location|
                %li
                  %p
                    %b= Location.model_name.human
                    = link_to location.name, [ :sfadmin, org, location ]
    - if @import_job.new_job? || @import_job.started_job?
      %tr
        %td{ colspan: 3 }
          = image_tag 'ajax-loader.gif'
          :coffee
            console.log window.location.href
            setTimeout ->
              $('#log').load window.location.href, ->
                scrollTop = $(document).height() - $(window).height()
                $('html,body').animate
                  scrollTop: scrollTop
                , 500
            , 2000
