<% content_for :title, @organization.name %>

<div class="outer-container">
  <%= render 'organization_sidebar', organization: @organization %>

  <%#This page just shows the top-level organization fields %>

  <div class="organization-form">
    <dt>Last Updated</dt>
    <dd><%= l @organization.updated_at %></dd>

    <%= simple_form_for([:sfadmin, @organization]) do |form| %>
      <%= aasm_validation_errors_for(@organization) %>

      <h1>Edit "<%= @organization.name %>"</h1>

      <%= form.input :name %>
      <%= form.input :urls, as: :array %>
      <%= form.submit %>
    <% end %>
  </div>
</div>
